.dashboard {
  background-color: black;
  display: flex !important;
  color: white;
  max-width: 100vw !important;
  flex-direction: row !important;
  /* background-color: brown; */

  /* overflow: scroll; */
}

.maincontent {
  flex: 1;
}
